In [ ]:
# Regressão linear e rede newral com TensorFlow (lembrando que também da pra fazer com o keras)
# Vamos o valor do aluguem em Alagoas

In [ ]:
# PREPARAÇÃO DOS DADOS

In [1]:
!pip install -q seaborn

In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
import sklearn

In [ ]:
# Vamos fazer o numpy printouts mais fácil de ler.

In [2]:
np.set_printoptions(precision=3, suppress=True)

In [4]:
import tensorflow as tf

In [5]:
from tensorflow import keras
from tensorflow.keras import layers
from tensorflow.keras.layers.experimental import preprocessing
print(tf.__version__)

2.5.0

In [ ]:
# Vamos baixar a base de dados

In [6]:
raw_dataset=pd.DataFrame(pd.read_csv('C:/Users/Cássio/Desktop/AP/AP/censo2010.csv',engine='python'))
dataset = raw_dataset.copy()
dataset.tail()

,Unnamed: 0,UF,Codigo_do_Municipio,Area_de_Ponderacao,Controle,Peso_Amostral,Regiao,Codigo_da_Mesorregiao,Codigo_da_Microrregiao,Codigo_da_Regiao_Metropolitana,...,Marca_de_imputacao_na_v0218,Marca_de_imputacao_na_v0219,Marca_de_imputacao_na_v0220,Marca_de_imputacao_na_v0221,Marca_de_imputacao_na_v02022,Marca_de_imputacao_na_v0301,Marca_de_imputacao_na_v0401,Marca_de_imputacao_na_v0402,Marca_de_imputacao_na_v0701,Situacao_do_setor
78339,78340,16,808,1600808001001,6186781,4,4,31,106,75,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
78340,78341,16,808,1600808001001,6186781,4,4,31,106,75,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
78341,78342,16,808,1600808001001,6186781,4,4,31,106,75,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
78342,78343,16,808,1600808001001,6186781,4,4,31,106,75,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
78343,78344,16,808,1600808001001,6186781,4,4,31,106,75,...,0.0,1.0,5.0,9.0,9.0,9.0,9.0,9.0,NaN,NaN

In [ ]:
# como a base de dados é muito grande para trabalhar em um computador pessoal, vamos pegar só 50% da mesma
# se for para utilizar processamento distribuido dá pra fazer tranquilamente com a base toda

In [7]:
n=50
dataset=dataset.head(int(len(dataset)*(n/100)))

In [8]:
dataset.tail()

,Unnamed: 0,UF,Codigo_do_Municipio,Area_de_Ponderacao,Controle,Peso_Amostral,Regiao,Codigo_da_Mesorregiao,Codigo_da_Microrregiao,Codigo_da_Regiao_Metropolitana,...,Marca_de_imputacao_na_v0218,Marca_de_imputacao_na_v0219,Marca_de_imputacao_na_v0220,Marca_de_imputacao_na_v0221,Marca_de_imputacao_na_v02022,Marca_de_imputacao_na_v0301,Marca_de_imputacao_na_v0401,Marca_de_imputacao_na_v0402,Marca_de_imputacao_na_v0701,Situacao_do_setor
39167,39168,16,303,1600303005013,2073782,7,0,44,618,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39168,39169,16,303,1600303005013,2073782,7,0,44,618,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39169,39170,16,303,1600303005013,2073782,7,0,44,618,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39170,39171,16,303,1600303005013,2073782,7,0,44,618,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39171,39172,16,303,1600303005013,2073782,7,0,44,618,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# vamos ver um sumário dos dados

In [9]:
dataset.describe()

,Unnamed: 0,UF,Codigo_do_Municipio,Area_de_Ponderacao,Controle,Peso_Amostral,Regiao,Codigo_da_Mesorregiao,Codigo_da_Microrregiao,Codigo_da_Regiao_Metropolitana,...,Marca_de_imputacao_na_v0218,Marca_de_imputacao_na_v0219,Marca_de_imputacao_na_v0220,Marca_de_imputacao_na_v0221,Marca_de_imputacao_na_v02022,Marca_de_imputacao_na_v0301,Marca_de_imputacao_na_v0401,Marca_de_imputacao_na_v0402,Marca_de_imputacao_na_v0701,Situacao_do_setor
count,39172.000000,39172.0,39172.000000,3.917200e+04,3.917200e+04,39172.000000,39172.000000,39172.000000,39172.000000,39172.000000,...,4907.000000,4905.000000,4905.000000,4905.000000,4905.000000,4905.000000,4905.000000,4905.000000,22.0,22.0
mean,19586.500000,16.0,259.486623,1.600259e+12,3.059794e+06,8.019989,4.418309,50.676453,500.728837,48.981288,...,0.359079,1.493986,5.326198,0.535576,1.509072,4.364730,1.227319,4.408359,8.0,0.0
std,11308.126709,0.0,70.644341,7.064586e+07,1.792047e+06,3.910278,2.883967,29.128580,290.341162,28.936820,...,1.657686,1.541836,1.420119,1.928686,2.592885,2.387625,2.550691,2.851728,0.0,0.0
min,1.000000,16.0,55.000000,1.600055e+12,9.000000e+00,1.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.0,0.0
25%,9793.750000,16.0,238.000000,1.600238e+12,1.474547e+06,4.000000,2.000000,26.000000,253.000000,24.000000,...,0.000000,1.000000,5.000000,0.000000,0.000000,3.000000,0.000000,3.000000,8.0,0.0
50%,19586.500000,16.0,303.000000,1.600303e+12,3.025731e+06,9.000000,4.000000,51.000000,498.000000,49.000000,...,0.000000,1.000000,6.000000,0.000000,0.000000,4.000000,0.000000,3.000000,8.0,0.0
75%,29379.250000,16.0,303.000000,1.600303e+12,4.630582e+06,11.000000,7.000000,76.000000,755.000000,74.000000,...,0.000000,1.000000,6.000000,0.000000,1.000000,6.000000,0.000000,8.000000,8.0,0.0
max,39172.000000,16.0,303.000000,1.600303e+12,6.190263e+06,24.000000,9.000000,99.000000,999.000000,99.000000,...,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,8.0,0.0

In [ ]:
# A nossa base de dados contem valores faltantes, vamo ver quantos valores faltantes há em cada linha

In [10]:
dataset.isnull().sum()

Unnamed: 0                                                  0
UF                                                          0
Codigo_do_Municipio                                         0
Area_de_Ponderacao                                          0
Controle                                                    0
Peso_Amostral                                               0
Regiao                                                      0
Codigo_da_Mesorregiao                                       0
Codigo_da_Microrregiao                                      0
Codigo_da_Regiao_Metropolitana                              0
Situacao_do_Domicilio                                       0
Especie_de_Unidade_Visitada                                 0
Tipo_de_Especie                                             0
Domicilio_condicao_de_ocupacao                              0
Valor_do_aluguel_(em_reais)                                 0
Aluguel_em_nº_de_salarios_minimos                           0
Material_predominante_nas_paredes_externas                  0
Nº_de_comodos                                               0
Densidade_de_morador/comodo                                 0
Comodos_como_dormitorio_numero                              0
Densidade_de_morador/dormitorio                             0
Banheiros_de_uso_exclusivo_numero                       38329
Sanitario_ou_buraco_para_dejecao/existencia             38329
Esgotamento_sanitario/tipo                                  0
Abastecimento_de_agua/forma                                 0
Abastecimento_de_agua_canalizacao                           0
lixo/destino                                                0
energia_eletrica_existencia                                 0
ecistencia_de_medidor_ou_relogio_de_energia_eletrica        0
radio_existencia                                            0
                                                        ...
Especie_da_Unidade_Domestica                            31499
Adequacao_da_moradia                                    31499
Marca_de_imputacao_na_v0201                             31499
Marca_de_imputacao_na_v2011                             31499
Marca_de_imputacao_na_v0202                             31499
Marca_de_imputacao_na_v0203                             31499
Marca_de_imputacao_na_v0204                             39126
Marca_de_imputacao_na_v0205                             39126
Marca_de_imputacao_na_v0206                             39126
Marca_de_imputacao_na_v0207                             39126
Marca_de_imputacao_na_v0208                             39126
Marca_de_imputacao_na_v0209                             39126
Marca_de_imputacao_na_v0210                             39126
Marca_de_imputacao_na_v0211                             34243
Marca_de_imputacao_na_v0212                             34265
Marca_de_imputacao_na_v0213                             34265
Marca_de_imputacao_na_v0214                             34265
Marca_de_imputacao_na_v0215                             34265
Marca_de_imputacao_na_v0216                             34265
Marca_de_imputacao_na_v0217                             34265
Marca_de_imputacao_na_v0218                             34265
Marca_de_imputacao_na_v0219                             34267
Marca_de_imputacao_na_v0220                             34267
Marca_de_imputacao_na_v0221                             34267
Marca_de_imputacao_na_v02022                            34267
Marca_de_imputacao_na_v0301                             34267
Marca_de_imputacao_na_v0401                             34267
Marca_de_imputacao_na_v0402                             34267
Marca_de_imputacao_na_v0701                             39150
Situacao_do_setor                                       39150
Length: 77, dtype: int64

In [ ]:
# Como eu já verifiquei as variáveis que quero, vou selecionar na base apenas estas variáveis

In [11]:
dataset=dataset[['Regiao','Valor_do_aluguel_(em_reais)','Nº_de_comodos','Comodos_como_dormitorio_numero']]

In [12]:
dataset=pd.get_dummies(dataset, columns=['Regiao'])

In [13]:
dataset=dataset.rename(columns={'Valor_do_aluguel_(em_reais)':'Valor_do_aluguel_em_reais'})

In [14]:
dataset=dataset.rename(columns={'Nº_de_comodos':'N_de_comodos'})

In [ ]:
# Para facilitar vamos deletar as linhas com valores nulos para deixar este tutorial inicial simples

In [15]:
dataset = dataset.dropna()

In [16]:
dataset

,Valor_do_aluguel_em_reais,N_de_comodos,Comodos_como_dormitorio_numero,Regiao_0,Regiao_1,Regiao_2,Regiao_3,Regiao_4,Regiao_5,Regiao_6,Regiao_7,Regiao_8,Regiao_9
0,20030,12,0,0,0,0,0,0,0,0,0,1,0
1,20030,42,20,0,0,0,0,0,0,0,0,1,0
2,20030,32,50,0,0,0,0,0,0,0,0,1,0
3,20030,21,30,0,0,0,0,0,0,0,0,1,0
4,20030,51,90,0,0,0,0,0,0,0,1,0,0
5,20030,11,70,0,0,0,0,0,0,0,1,0,0
6,20030,22,80,0,0,0,0,0,0,0,1,0,0
7,20030,61,40,0,0,0,0,0,0,0,1,0,0
8,20030,72,20,0,0,0,0,0,0,0,1,0,0
9,20030,31,20,0,0,0,0,0,0,0,1,0,0
10,20030,41,0,0,0,0,0,0,0,0,1,0,0
11,20030,81,50,0,0,0,0,0,0,0,1,0,0
12,20030,11,0,1,0,0,0,0,0,0,0,0,0
13,20030,52,90,0,0,0,0,0,0,0,0,0,1
14,20030,61,90,0,0,0,0,0,0,0,0,0,1
15,20030,41,60,0,0,0,0,0,0,0,0,0,1
16,20030,21,10,0,0,0,0,0,0,0,0,0,1
17,20030,31,60,0,0,0,0,0,0,0,0,0,1
18,20030,12,70,0,0,0,0,0,0,0,0,0,1
19,20030,21,10,0,0,0,0,0,1,0,0,0,0
20,20030,31,40,0,0,0,0,0,1,0,0,0,0
21,20030,42,30,0,0,0,0,0,1,0,0,0,0
22,20030,12,10,0,0,0,0,0,1,0,0,0,0
23,20030,62,70,0,0,0,0,0,1,0,0,0,0
24,20030,72,40,0,0,0,0,0,1,0,0,0,0
25,20030,52,0,0,0,0,0,0,1,0,0,0,0
26,20030,11,60,0,0,0,0,0,0,0,0,1,0
27,20030,22,70,0,0,0,0,0,0,0,0,1,0
28,20030,32,10,0,0,0,0,0,0,0,1,0,0
29,20030,41,0,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
39142,20030,41,30,0,1,0,0,0,0,0,0,0,0
39143,20030,32,50,0,1,0,0,0,0,0,0,0,0
39144,20030,72,50,0,0,0,0,0,1,0,0,0,0
39145,20030,12,80,0,0,0,0,0,1,0,0,0,0
39146,20030,61,70,0,0,0,0,0,1,0,0,0,0
39147,20030,52,10,0,0,0,0,0,1,0,0,0,0
39148,20030,42,60,0,0,0,0,0,1,0,0,0,0
39149,20030,31,10,0,0,0,0,0,1,0,0,0,0
39150,20030,22,40,0,0,0,0,0,1,0,0,0,0
39151,20030,12,20,0,0,0,0,0,0,0,0,0,1
39152,20030,32,40,0,0,0,0,0,0,0,0,0,1
39153,20030,22,70,0,0,0,0,0,0,0,0,0,1
39154,20030,12,20,0,0,0,0,0,0,0,0,0,1
39155,20030,31,10,0,0,0,0,0,0,0,0,0,1
39156,20030,41,10,0,0,0,0,0,0,0,0,0,1
39157,20030,21,70,0,0,0,0,0,0,0,0,0,1
39158,20030,21,30,0,0,0,0,0,0,0,0,1,0
39159,20030,31,30,0,0,0,0,0,0,0,0,1,0
39160,20030,12,20,0,0,0,0,0,0,0,0,1,0
39161,20030,11,40,0,0,0,0,0,0,0,0,1,0
39162,20030,22,0,0,0,0,0,0,0,0,0,1,0
39163,20030,31,10,0,0,0,0,0,0,0,0,1,0
39164,20030,91,80,1,0,0,0,0,0,0,0,0,0
39165,20030,52,60,1,0,0,0,0,0,0,0,0,0
39166,20030,61,90,1,0,0,0,0,0,0,0,0,0
39167,20030,72,80,1,0,0,0,0,0,0,0,0,0
39168,20030,82,60,1,0,0,0,0,0,0,0,0,0
39169,20030,42,90,1,0,0,0,0,0,0,0,0,0
39170,20030,32,20,1,0,0,0,0,0,0,0,0,0
39171,20030,2,80,1,0,0,0,0,0,0,0,0,0

In [ ]:
# Vamos separar a base de dados entre treino e teste

In [17]:
train_dataset = dataset.sample(frac=0.8, random_state=0)
test_dataset = dataset.drop(train_dataset.index)

In [18]:
train_dataset.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
Valor_do_aluguel_em_reais,31338.0,18943.553513,3116.005779,10010.0,20030.0,20030.0,20030.0,20040.0
N_de_comodos,31338.0,32.179112,19.390900,1.0,12.0,31.0,42.0,92.0
Comodos_como_dormitorio_numero,31338.0,43.877114,28.368784,0.0,20.0,40.0,70.0,90.0
Regiao_0,31338.0,0.106835,0.308908,0.0,0.0,0.0,0.0,1.0
Regiao_1,31338.0,0.100549,0.300735,0.0,0.0,0.0,0.0,1.0
Regiao_2,31338.0,0.101634,0.302171,0.0,0.0,0.0,0.0,1.0
Regiao_3,31338.0,0.105591,0.307318,0.0,0.0,0.0,0.0,1.0
Regiao_4,31338.0,0.097422,0.296536,0.0,0.0,0.0,0.0,1.0
Regiao_5,31338.0,0.098666,0.298218,0.0,0.0,0.0,0.0,1.0
Regiao_6,31338.0,0.092699,0.290015,0.0,0.0,0.0,0.0,1.0
Regiao_7,31338.0,0.103836,0.305052,0.0,0.0,0.0,0.0,1.0
Regiao_8,31338.0,0.095922,0.294489,0.0,0.0,0.0,0.0,1.0
Regiao_9,31338.0,0.096847,0.295754,0.0,0.0,0.0,0.0,1.0

In [ ]:
# Vamos separar a variável que queremos prever das demais
# primeiro vamos copiar nossa base de dados em train_y (cópia da base treino) e test_y (cópia da base teste)
# e em seguida retiramos a variávl dependentes desta base, deixando nela apenas as variáveis independentes (x) e criando a
# novas bases de teste e treino apenas com a dependente (respectivamente test_y e train_y)

In [ ]:
# OBS: SE EU QUISER APLICAR UMA REGRESSÃO SIMPLES, BASTA COLOCAR APENAS UMA VARIÁVEL NA BASE FEATURES

In [19]:
train_y = train_dataset.copy()
test_y = test_dataset.copy()

In [20]:
train_x=pd.concat([train_y.pop(x) for x in ['N_de_comodos','Comodos_como_dormitorio_numero','Regiao_0','Regiao_1','Regiao_2','Regiao_3','Regiao_4','Regiao_5','Regiao_6','Regiao_7','Regiao_8','Regiao_9']], axis=1)
test_x=pd.concat([test_y.pop(x) for x in ['N_de_comodos','Comodos_como_dormitorio_numero','Regiao_0','Regiao_1','Regiao_2','Regiao_3','Regiao_4','Regiao_5','Regiao_6','Regiao_7','Regiao_8','Regiao_9']], axis=1)

In [ ]:
# Agora temos que normalizar os dados, ficando a maioria das variáveis entre -1
# e 1, mas podendo variar para além desse intervalo. Essa etapa é MUITO
# IMPORTANTE pois melhora o poder preditivo do modelo e as variáveis estão
# compreendidas em um intervalo maior de valores não tendem a apresentar uma
# relevância maior, o que ocorre se não tivermos a normalização

In [25]:
train_dataset.describe().transpose()[['mean', 'std']]
normalizer = preprocessing.Normalization()
normalizer.adapt(np.array(train_x))
print(normalizer.mean.numpy())

[32.179 43.877  0.107  0.101  0.102  0.106  0.097  0.099  0.093  0.104
  0.096  0.097]

In [ ]:
# Vamos ver como ficaram os dados após a normalização

In [26]:
first = np.array(train_x[:1])

In [27]:
with np.printoptions(precision=2, suppress=True):
  print('First example:', first)
  print()
  print('Normalized:', normalizer(first).numpy())

First example: [[11  0  0  0  0  1  0  0  0  0  0  0]]

Normalized: [[-1.09 -1.55 -0.35 -0.33 -0.34  2.91 -0.33 -0.33 -0.32 -0.34 -0.33 -0.33]]

In [ ]:
#################REGRESSÃO MULTIPLA

In [ ]:
# Preparados os dados, vamos aplicar a regressão linear multipla utilizando as variáveis independentes
# que estão na nossa base de dados, normalizadas e salvas no objeto "normalizer"

In [28]:
linear_model = tf.keras.Sequential([
    normalizer,
    layers.Dense(units=1)
])

In [ ]:
# Vamos ver se o resultado deste modelo (abaixo apenas as 10 primeiras observações)

In [29]:
linear_model.predict(train_x[:10])

array([[ 2.119],
       [-0.045],
       [ 2.226],
       [-1.206],
       [-1.251],
       [-0.048],
       [ 0.996],
       [ 0.017],
       [-0.247],
       [-1.712]], dtype=float32)

In [ ]:
# Quando chamamos o modelo, sua matriz de pesos será construída (são os parâmetros de cada uma das variáveis independentes)

In [30]:
linear_model.layers[1].kernel

<tf.Variable 'dense/kernel:0' shape=(12, 1) dtype=float32, numpy=
array([[ 0.098],
       [-0.575],
       [ 0.303],
       [-0.285],
       [-0.467],
       [ 0.422],
       [ 0.049],
       [-0.057],
       [-0.119],
       [ 0.123],
       [ 0.082],
       [ 0.034]], dtype=float32)>

In [ ]:
# após treinar, temos que compilar o modelo, como estamos prevendo uma variável contínua e não binária,
# utilizamos o loss="mean_absolute_error" se estivéssemos prevendo uma variável dummy (binária, 0 ou 1),
# o loss seria "binary_crossentropy" o optimizer poderia continuar sendo "adam" mas teríamos que
# acrescentaro termo metrics=['accuracy']

In [31]:
linear_model.compile(
    optimizer=tf.optimizers.Adam(learning_rate=0.1),
    loss='mean_absolute_error')

In [ ]:
# epochs=100 indica que o modelo será treinado passando 100 vezes pela base de treino
# o argumento verbose=1 indica que queremos ver na tela as iterações do modelo
# com verbose=0 o modelo é treinado e só mostra o tempo que gastou, pois especificamos %%time

In [32]:
%%time
history = linear_model.fit(
    train_x, train_y, 
    epochs=100,
    # suppress logging
    verbose=1,
    # Calculate validation results on 20% of the training data
    validation_split = 0.2)

Epoch 1/100
784/784 [==============================] - 3s 2ms/step - loss: 18911.8340 - val_loss: 18836.0391
Epoch 2/100
784/784 [==============================] - 1s 1ms/step - loss: 18833.4082 - val_loss: 18757.8594
Epoch 3/100
784/784 [==============================] - 1s 1ms/step - loss: 18754.9375 - val_loss: 18679.6387
Epoch 4/100
784/784 [==============================] - 1s 2ms/step - loss: 18676.4863 - val_loss: 18601.4180
Epoch 5/100
784/784 [==============================] - 1s 1ms/step - loss: 18598.0254 - val_loss: 18523.2285
Epoch 6/100
784/784 [==============================] - 1s 2ms/step - loss: 18519.5801 - val_loss: 18445.0410
Epoch 7/100
784/784 [==============================] - 1s 1ms/step - loss: 18441.1133 - val_loss: 18366.8262
Epoch 8/100
784/784 [==============================] - 1s 1ms/step - loss: 18362.6875 - val_loss: 18288.6562
Epoch 9/100
784/784 [==============================] - 2s 2ms/step - loss: 18284.2539 - val_loss: 18210.4805
Epoch 10/100
784/784 [==============================] - 1s 1ms/step - loss: 18205.8066 - val_loss: 18132.2637
Epoch 11/100
784/784 [==============================] - 1s 2ms/step - loss: 18127.3906 - val_loss: 18054.1250
Epoch 12/100
784/784 [==============================] - 1s 2ms/step - loss: 18048.9590 - val_loss: 17975.9238
Epoch 13/100
784/784 [==============================] - 2s 2ms/step - loss: 17970.5469 - val_loss: 17897.7441
Epoch 14/100
784/784 [==============================] - 1s 2ms/step - loss: 17892.0977 - val_loss: 17819.5645
Epoch 15/100
784/784 [==============================] - 1s 2ms/step - loss: 17813.6602 - val_loss: 17741.3809
Epoch 16/100
784/784 [==============================] - 1s 2ms/step - loss: 17735.2266 - val_loss: 17663.2051
Epoch 17/100
784/784 [==============================] - 1s 2ms/step - loss: 17656.8145 - val_loss: 17585.0137
Epoch 18/100
784/784 [==============================] - 1s 1ms/step - loss: 17578.3672 - val_loss: 17506.8516
Epoch 19/100
784/784 [==============================] - 1s 1ms/step - loss: 17499.9512 - val_loss: 17428.6504
Epoch 20/100
784/784 [==============================] - 1s 2ms/step - loss: 17421.4980 - val_loss: 17350.4707
Epoch 21/100
784/784 [==============================] - 1s 1ms/step - loss: 17343.0762 - val_loss: 17272.3105
Epoch 22/100
784/784 [==============================] - 1s 1ms/step - loss: 17264.6641 - val_loss: 17194.1348
Epoch 23/100
784/784 [==============================] - 1s 1ms/step - loss: 17186.2168 - val_loss: 17115.9316
Epoch 24/100
784/784 [==============================] - 1s 1ms/step - loss: 17107.7969 - val_loss: 17037.7422
Epoch 25/100
784/784 [==============================] - 1s 2ms/step - loss: 17029.3516 - val_loss: 16959.5703
Epoch 26/100
784/784 [==============================] - 1s 1ms/step - loss: 16950.9297 - val_loss: 16881.3945
Epoch 27/100
784/784 [==============================] - 1s 1ms/step - loss: 16872.4727 - val_loss: 16803.1074
Epoch 28/100
784/784 [==============================] - 1s 2ms/step - loss: 16793.9375 - val_loss: 16724.8477
Epoch 29/100
784/784 [==============================] - 1s 1ms/step - loss: 16715.4160 - val_loss: 16646.5664
Epoch 30/100
784/784 [==============================] - 1s 2ms/step - loss: 16636.9004 - val_loss: 16568.2969
Epoch 31/100
784/784 [==============================] - 1s 1ms/step - loss: 16558.3633 - val_loss: 16490.0312
Epoch 32/100
784/784 [==============================] - 1s 1ms/step - loss: 16479.8477 - val_loss: 16411.7637
Epoch 33/100
784/784 [==============================] - 1s 1ms/step - loss: 16401.3066 - val_loss: 16333.4609
Epoch 34/100
784/784 [==============================] - 1s 1ms/step - loss: 16322.7695 - val_loss: 16255.1934
Epoch 35/100
784/784 [==============================] - 1s 1ms/step - loss: 16244.2578 - val_loss: 16176.9404
Epoch 36/100
784/784 [==============================] - 1s 2ms/step - loss: 16165.7236 - val_loss: 16098.6689
Epoch 37/100
784/784 [==============================] - 1s 1ms/step - loss: 16087.1865 - val_loss: 16020.3662
Epoch 38/100
784/784 [==============================] - 1s 1ms/step - loss: 16008.6797 - val_loss: 15942.0967
Epoch 39/100
784/784 [==============================] - 1s 1ms/step - loss: 15930.1484 - val_loss: 15863.8281
Epoch 40/100
784/784 [==============================] - 1s 1ms/step - loss: 15851.6230 - val_loss: 15785.5430
Epoch 41/100
784/784 [==============================] - 1s 2ms/step - loss: 15773.0732 - val_loss: 15707.2568
Epoch 42/100
784/784 [==============================] - 1s 1ms/step - loss: 15694.5713 - val_loss: 15628.9932
Epoch 43/100
784/784 [==============================] - 1s 2ms/step - loss: 15616.0449 - val_loss: 15550.6953
Epoch 44/100
784/784 [==============================] - 2s 2ms/step - loss: 15537.4971 - val_loss: 15472.4336
Epoch 45/100
784/784 [==============================] - 2s 2ms/step - loss: 15458.9854 - val_loss: 15394.1523
Epoch 46/100
784/784 [==============================] - 1s 1ms/step - loss: 15380.4492 - val_loss: 15315.8994
Epoch 47/100
784/784 [==============================] - 1s 1ms/step - loss: 15301.9248 - val_loss: 15237.5967
Epoch 48/100
784/784 [==============================] - 1s 1ms/step - loss: 15223.4062 - val_loss: 15159.3340
Epoch 49/100
784/784 [==============================] - 1s 1ms/step - loss: 15144.8760 - val_loss: 15081.0547
Epoch 50/100
784/784 [==============================] - 1s 1ms/step - loss: 15066.3467 - val_loss: 15002.7695
Epoch 51/100
784/784 [==============================] - 1s 1ms/step - loss: 14987.8262 - val_loss: 14924.4980
Epoch 52/100
784/784 [==============================] - 1s 1ms/step - loss: 14909.3018 - val_loss: 14846.2080
Epoch 53/100
784/784 [==============================] - 1s 1ms/step - loss: 14830.7822 - val_loss: 14767.9531
Epoch 54/100
784/784 [==============================] - 1s 1ms/step - loss: 14752.2461 - val_loss: 14689.6973
Epoch 55/100
784/784 [==============================] - 1s 1ms/step - loss: 14673.7207 - val_loss: 14611.3750
Epoch 56/100
784/784 [==============================] - 1s 2ms/step - loss: 14595.1914 - val_loss: 14533.1230
Epoch 57/100
784/784 [==============================] - 1s 1ms/step - loss: 14516.6553 - val_loss: 14454.8350
Epoch 58/100
784/784 [==============================] - 1s 1ms/step - loss: 14438.1396 - val_loss: 14376.5850
Epoch 59/100
784/784 [==============================] - 1s 1ms/step - loss: 14359.6162 - val_loss: 14298.2979
Epoch 60/100
784/784 [==============================] - 1s 1ms/step - loss: 14281.0713 - val_loss: 14220.0176
Epoch 61/100
784/784 [==============================] - 1s 1ms/step - loss: 14202.5615 - val_loss: 14141.7324
Epoch 62/100
784/784 [==============================] - 1s 1ms/step - loss: 14124.0381 - val_loss: 14063.4561
Epoch 63/100
784/784 [==============================] - 1s 1ms/step - loss: 14045.5010 - val_loss: 13985.1904
Epoch 64/100
784/784 [==============================] - 2s 2ms/step - loss: 13966.9814 - val_loss: 13906.8926
Epoch 65/100
784/784 [==============================] - 2s 2ms/step - loss: 13888.4375 - val_loss: 13828.6201
Epoch 66/100
784/784 [==============================] - 2s 2ms/step - loss: 13809.9189 - val_loss: 13750.3496
Epoch 67/100
784/784 [==============================] - 1s 1ms/step - loss: 13731.3994 - val_loss: 13672.0703
Epoch 68/100
784/784 [==============================] - 1s 2ms/step - loss: 13652.8691 - val_loss: 13593.7881
Epoch 69/100
784/784 [==============================] - 1s 1ms/step - loss: 13574.3545 - val_loss: 13515.5254
Epoch 70/100
784/784 [==============================] - 1s 1ms/step - loss: 13495.8135 - val_loss: 13437.2500
Epoch 71/100
784/784 [==============================] - 1s 2ms/step - loss: 13417.2910 - val_loss: 13358.9902
Epoch 72/100
784/784 [==============================] - 1s 1ms/step - loss: 13338.7676 - val_loss: 13280.7012
Epoch 73/100
784/784 [==============================] - 2s 2ms/step - loss: 13260.2227 - val_loss: 13202.3916
Epoch 74/100
784/784 [==============================] - 1s 2ms/step - loss: 13181.7139 - val_loss: 13124.1387
Epoch 75/100

784/784 [==============================] - 2s 2ms/step - loss: 13103.1885 - val_loss: 13045.8711
Epoch 76/100
784/784 [==============================] - 1s 1ms/step - loss: 13024.6553 - val_loss: 12967.5898
Epoch 77/100
784/784 [==============================] - 1s 1ms/step - loss: 12946.1230 - val_loss: 12889.3555
Epoch 78/100
784/784 [==============================] - 2s 2ms/step - loss: 12867.6025 - val_loss: 12811.0508
Epoch 79/100
784/784 [==============================] - 2s 2ms/step - loss: 12789.0801 - val_loss: 12732.7949
Epoch 80/100
784/784 [==============================] - 2s 2ms/step - loss: 12710.5400 - val_loss: 12654.4824
Epoch 81/100
784/784 [==============================] - 2s 2ms/step - loss: 12632.0234 - val_loss: 12576.2051
Epoch 82/100
784/784 [==============================] - 1s 2ms/step - loss: 12553.4912 - val_loss: 12497.9238
Epoch 83/100
784/784 [==============================] - 2s 3ms/step - loss: 12474.9717 - val_loss: 12419.6387
Epoch 84/100
784/784 [==============================] - 2s 3ms/step - loss: 12396.4463 - val_loss: 12341.3672
Epoch 85/100
784/784 [==============================] - 1s 1ms/step - loss: 12317.9121 - val_loss: 12263.1006
Epoch 86/100
784/784 [==============================] - 1s 2ms/step - loss: 12239.4023 - val_loss: 12184.8105
Epoch 87/100
784/784 [==============================] - 2s 3ms/step - loss: 12160.8730 - val_loss: 12106.5439
Epoch 88/100
784/784 [==============================] - 2s 2ms/step - loss: 12082.3574 - val_loss: 12028.2568
Epoch 89/100
784/784 [==============================] - 1s 1ms/step - loss: 12003.8135 - val_loss: 11949.9756
Epoch 90/100
784/784 [==============================] - 2s 2ms/step - loss: 11925.2891 - val_loss: 11871.6885
Epoch 91/100
784/784 [==============================] - 2s 2ms/step - loss: 11846.7686 - val_loss: 11793.4111
Epoch 92/100
784/784 [==============================] - 1s 1ms/step - loss: 11768.2402 - val_loss: 11715.1348
Epoch 93/100
784/784 [==============================] - 1s 1ms/step - loss: 11689.7109 - val_loss: 11636.8486
Epoch 94/100
784/784 [==============================] - 2s 2ms/step - loss: 11611.1953 - val_loss: 11558.5938
Epoch 95/100
784/784 [==============================] - 2s 2ms/step - loss: 11532.6543 - val_loss: 11480.3066
Epoch 96/100
784/784 [==============================] - 1s 1ms/step - loss: 11454.1338 - val_loss: 11402.0332
Epoch 97/100
784/784 [==============================] - 1s 1ms/step - loss: 11375.6055 - val_loss: 11323.7588
Epoch 98/100
784/784 [==============================] - 1s 1ms/step - loss: 11297.0850 - val_loss: 11245.4814
Epoch 99/100
784/784 [==============================] - 1s 2ms/step - loss: 11218.5488 - val_loss: 11167.1904
Epoch 100/100
784/784 [==============================] - 1s 2ms/step - loss: 11140.0234 - val_loss: 11088.9287
Wall time: 2min 5s

In [ ]:
# Vamos guardar o resultado de desempenho do modelo (loss) para depois comparar essa regressão multipla com a rede neural

In [34]:
test_results = {}

In [35]:
test_results['linear_model'] = linear_model.evaluate(
    test_x, test_y, verbose=0)

In [ ]:
###########REDE NEURAL

In [ ]:
# Vamos agora aplicar uma rede neural (ou DNN - deep neural network)
# Utilizaremos para tanto, vamos utilizar o método "compile" para treinar o modelo
# Vamo utilizar a matriz de ativação relu, que é a mais comunmente usada, mas há outras
# primeira camada (input): dimensão 13 (normalmente colocamos o número de variáveis utilizadas no modelo, dependente + independentes, que no nosso caso da 13) 
# segunda camada (intermediate layer): dimensão 8 
# terceira camada (output): dimensão 1
# a função abaixo constroi o modelo e compila o mesmo, como visto em model.compile
# como estamos prevendo uma variável contínua e não binária, utilizamos o loss="mean_absolute_error"
# se estivéssemos prevendo uma variável dummy (binária, 0 ou 1), o loss seria "binary_crossentropy"
# o optimizer poderia continuar sendo "adam" mas teríamos que acrescentaro termo metrics=['accuracy']
# OBS: TENHO NO MEU GITHUB UM EXEMPLO DE REDE NEURAL PREVENDO VARIÁVEL DUMMY

In [36]:
def build_and_compile_model(norm):
  model = keras.Sequential([
      norm,
      layers.Dense(13, activation='relu'),
      layers.Dense(9, activation='relu'),
      layers.Dense(1)
  ])

  model.compile(loss='mean_absolute_error',
                optimizer=tf.keras.optimizers.Adam(0.001))
  return model

In [ ]:
# Utilizaremos todos os dados como insumo, melhoramos a
# a performance ao utilizarmos o modelo na base de dados de validação

In [37]:
dnn_model = build_and_compile_model(normalizer)
dnn_model.summary()

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
normalization_1 (Normalizati (None, 12)                25
_________________________________________________________________
dense_1 (Dense)              (None, 13)                169
_________________________________________________________________
dense_2 (Dense)              (None, 9)                 126
_________________________________________________________________
dense_3 (Dense)              (None, 1)                 10
=================================================================
Total params: 330
Trainable params: 305
Non-trainable params: 25
_________________________________________________________________

In [ ]:
# epochs=100 indica que o modelo será treinado passando 100 vezes pela base de treino
# o argumento verbose=1 indica que queremos ver na tela as iterações do modelo
# com verbose=0 o modelo é treinado e só mostra o tempo que gastou, pois especificamos %%time

In [38]:
%%time
history = dnn_model.fit(
    train_x, train_y,
    validation_split=0.2,
    verbose=1, epochs=100)

plot_loss(history)

Epoch 1/100
784/784 [==============================] - 2s 2ms/step - loss: 18863.0918 - val_loss: 18538.4961
Epoch 2/100
784/784 [==============================] - 2s 2ms/step - loss: 17506.3848 - val_loss: 15908.2910
Epoch 3/100
784/784 [==============================] - 1s 1ms/step - loss: 13225.8848 - val_loss: 10052.2998
Epoch 4/100
784/784 [==============================] - 1s 1ms/step - loss: 6669.7407 - val_loss: 3943.4097
Epoch 5/100
784/784 [==============================] - 1s 1ms/step - loss: 2567.1709 - val_loss: 1780.9004
Epoch 6/100
784/784 [==============================] - 1s 2ms/step - loss: 1451.4010 - val_loss: 1297.8882
Epoch 7/100
784/784 [==============================] - 2s 2ms/step - loss: 1178.1913 - val_loss: 1177.2275
Epoch 8/100
784/784 [==============================] - 2s 2ms/step - loss: 1122.9830 - val_loss: 1145.2224
Epoch 9/100
784/784 [==============================] - 1s 2ms/step - loss: 1102.5315 - val_loss: 1133.9482
Epoch 10/100
784/784 [==============================] - 1s 1ms/step - loss: 1094.5925 - val_loss: 1127.9760
Epoch 11/100
784/784 [==============================] - 2s 2ms/step - loss: 1089.5699 - val_loss: 1124.6296
Epoch 12/100
784/784 [==============================] - 1s 1ms/step - loss: 1086.7307 - val_loss: 1122.2778
Epoch 13/100
784/784 [==============================] - 1s 2ms/step - loss: 1084.5531 - val_loss: 1120.3673
Epoch 14/100
784/784 [==============================] - 1s 2ms/step - loss: 1083.4021 - val_loss: 1119.7646
Epoch 15/100
784/784 [==============================] - 2s 2ms/step - loss: 1082.8986 - val_loss: 1119.5940
Epoch 16/100
784/784 [==============================] - 1s 2ms/step - loss: 1082.6998 - val_loss: 1118.9250
Epoch 17/100
784/784 [==============================] - 1s 2ms/step - loss: 1082.6962 - val_loss: 1119.0054
Epoch 18/100
784/784 [==============================] - 1s 2ms/step - loss: 1082.7268 - val_loss: 1119.0135
Epoch 19/100
784/784 [==============================] - 1s 2ms/step - loss: 1082.6455 - val_loss: 1119.8729
Epoch 20/100
784/784 [==============================] - 2s 2ms/step - loss: 1082.6013 - val_loss: 1119.9401
Epoch 21/100
784/784 [==============================] - 2s 2ms/step - loss: 1082.6597 - val_loss: 1119.5669
Epoch 22/100
784/784 [==============================] - 1s 1ms/step - loss: 1082.6904 - val_loss: 1120.0212
Epoch 23/100
784/784 [==============================] - 1s 1ms/step - loss: 1082.5206 - val_loss: 1119.4796
Epoch 24/100
784/784 [==============================] - 1s 2ms/step - loss: 1082.5953 - val_loss: 1119.5306
Epoch 25/100
784/784 [==============================] - 1s 1ms/step - loss: 1082.5836 - val_loss: 1118.7834
Epoch 26/100
784/784 [==============================] - 1s 1ms/step - loss: 1082.5995 - val_loss: 1119.1833
Epoch 27/100
784/784 [==============================] - 1s 2ms/step - loss: 1082.5060 - val_loss: 1119.0588
Epoch 28/100
784/784 [==============================] - 1s 2ms/step - loss: 1082.5493 - val_loss: 1118.9349
Epoch 29/100
784/784 [==============================] - 1s 2ms/step - loss: 1082.6414 - val_loss: 1118.8999
Epoch 30/100
784/784 [==============================] - 1s 1ms/step - loss: 1082.6805 - val_loss: 1120.0981
Epoch 31/100
784/784 [==============================] - 1s 1ms/step - loss: 1082.7620 - val_loss: 1119.4640
Epoch 32/100
784/784 [==============================] - 1s 1ms/step - loss: 1082.7178 - val_loss: 1121.5532
Epoch 33/100
784/784 [==============================] - 1s 1ms/step - loss: 1082.6218 - val_loss: 1118.9674
Epoch 34/100
784/784 [==============================] - 2s 2ms/step - loss: 1082.5886 - val_loss: 1119.8983
Epoch 35/100
784/784 [==============================] - 1s 1ms/step - loss: 1082.7476 - val_loss: 1119.0388
Epoch 36/100
784/784 [==============================] - 1s 1ms/step - loss: 1082.5697 - val_loss: 1120.3120
Epoch 37/100
784/784 [==============================] - 1s 1ms/step - loss: 1082.7109 - val_loss: 1119.5607
Epoch 38/100
784/784 [==============================] - 1s 1ms/step - loss: 1082.5809 - val_loss: 1118.8635
Epoch 39/100
784/784 [==============================] - 2s 2ms/step - loss: 1082.6824 - val_loss: 1119.4805
Epoch 40/100
784/784 [==============================] - 2s 2ms/step - loss: 1082.5449 - val_loss: 1118.9630
Epoch 41/100
784/784 [==============================] - 2s 2ms/step - loss: 1082.5774 - val_loss: 1118.8009
Epoch 42/100
784/784 [==============================] - 2s 2ms/step - loss: 1082.5751 - val_loss: 1118.8845
Epoch 43/100
784/784 [==============================] - 1s 2ms/step - loss: 1082.6450 - val_loss: 1119.3577
Epoch 44/100
784/784 [==============================] - 1s 1ms/step - loss: 1082.5803 - val_loss: 1120.6945
Epoch 45/100
784/784 [==============================] - 1s 1ms/step - loss: 1082.7205 - val_loss: 1119.7950
Epoch 46/100
784/784 [==============================] - 1s 1ms/step - loss: 1082.6025 - val_loss: 1118.7985
Epoch 47/100
784/784 [==============================] - 2s 3ms/step - loss: 1082.5350 - val_loss: 1118.7194
Epoch 48/100
784/784 [==============================] - 1s 2ms/step - loss: 1082.6721 - val_loss: 1118.9003
Epoch 49/100
784/784 [==============================] - 1s 2ms/step - loss: 1082.6273 - val_loss: 1119.3083
Epoch 50/100
784/784 [==============================] - 1s 2ms/step - loss: 1082.5475 - val_loss: 1119.7310
Epoch 51/100
784/784 [==============================] - 2s 2ms/step - loss: 1082.5826 - val_loss: 1119.7373
Epoch 52/100
784/784 [==============================] - 1s 1ms/step - loss: 1082.6748 - val_loss: 1119.1204
Epoch 53/100
784/784 [==============================] - 1s 1ms/step - loss: 1082.6927 - val_loss: 1120.2727
Epoch 54/100
784/784 [==============================] - 1s 2ms/step - loss: 1082.6989 - val_loss: 1119.4486
Epoch 55/100
784/784 [==============================] - 1s 2ms/step - loss: 1082.7148 - val_loss: 1119.4171
Epoch 56/100
784/784 [==============================] - 2s 2ms/step - loss: 1082.6404 - val_loss: 1119.1237
Epoch 57/100
784/784 [==============================] - 1s 2ms/step - loss: 1082.7096 - val_loss: 1119.4510
Epoch 58/100
784/784 [==============================] - 1s 2ms/step - loss: 1082.6600 - val_loss: 1119.5236
Epoch 59/100
784/784 [==============================] - 2s 2ms/step - loss: 1082.6674 - val_loss: 1119.1825
Epoch 60/100
784/784 [==============================] - 2s 2ms/step - loss: 1082.5199 - val_loss: 1118.4543
Epoch 61/100
784/784 [==============================] - 1s 1ms/step - loss: 1082.6229 - val_loss: 1118.8398
Epoch 62/100
784/784 [==============================] - 1s 1ms/step - loss: 1082.6372 - val_loss: 1119.2515
Epoch 63/100
784/784 [==============================] - 1s 1ms/step - loss: 1082.5320 - val_loss: 1118.79910s - los
Epoch 64/100
784/784 [==============================] - 2s 2ms/step - loss: 1082.6119 - val_loss: 1119.8359
Epoch 65/100
784/784 [==============================] - 1s 1ms/step - loss: 1082.7001 - val_loss: 1119.2468
Epoch 66/100
784/784 [==============================] - 1s 2ms/step - loss: 1082.5376 - val_loss: 1119.3313
Epoch 67/100
784/784 [==============================] - 1s 2ms/step - loss: 1082.6957 - val_loss: 1119.3378
Epoch 68/100
784/784 [==============================] - 2s 2ms/step - loss: 1082.7646 - val_loss: 1119.1119
Epoch 69/100
784/784 [==============================] - 1s 2ms/step - loss: 1082.6564 - val_loss: 1119.5120
Epoch 70/100
784/784 [==============================] - 1s 1ms/step - loss: 1082.6401 - val_loss: 1119.1813
Epoch 71/100
784/784 [==============================] - 1s 1ms/step - loss: 1082.5863 - val_loss: 1119.0330
Epoch 72/100
784/784 [==============================] - 2s 3ms/step - loss: 1082.6030 - val_loss: 1119.3329
Epoch 73/100
784/784 [==============================] - 2s 2ms/step - loss: 1082.7383 - val_loss: 1119.7750
Epoch 74/100
784/784 [==============================] - 2s 2ms/step - loss: 1082.5782 - val_loss: 1119.7495
Epoch 75/100
784/784 [==============================] - 2s 2ms/step - loss: 1082.6447 - val_loss: 1119.2339
Epoch 76/100
784/784 [==============================] - 2s 3ms/step - loss: 1082.5709 - val_loss: 1119.2240

Epoch 77/100
784/784 [==============================] - 1s 2ms/step - loss: 1082.6300 - val_loss: 1120.0071
Epoch 78/100
784/784 [==============================] - 1s 1ms/step - loss: 1082.6084 - val_loss: 1118.8684
Epoch 79/100
784/784 [==============================] - 1s 1ms/step - loss: 1082.5875 - val_loss: 1118.9271
Epoch 80/100
784/784 [==============================] - 2s 2ms/step - loss: 1082.7035 - val_loss: 1119.0050
Epoch 81/100
784/784 [==============================] - 2s 2ms/step - loss: 1082.6935 - val_loss: 1119.5361
Epoch 82/100
784/784 [==============================] - 1s 2ms/step - loss: 1082.6385 - val_loss: 1119.8857
Epoch 83/100
784/784 [==============================] - 1s 2ms/step - loss: 1082.6104 - val_loss: 1119.6830
Epoch 84/100
784/784 [==============================] - 2s 3ms/step - loss: 1082.6504 - val_loss: 1119.9657
Epoch 85/100
784/784 [==============================] - 1s 2ms/step - loss: 1082.6998 - val_loss: 1119.3164
Epoch 86/100
784/784 [==============================] - 1s 1ms/step - loss: 1082.5868 - val_loss: 1119.5869
Epoch 87/100
784/784 [==============================] - 1s 1ms/step - loss: 1082.6621 - val_loss: 1119.2854
Epoch 88/100
784/784 [==============================] - 1s 1ms/step - loss: 1082.7023 - val_loss: 1119.6035
Epoch 89/100
784/784 [==============================] - 2s 2ms/step - loss: 1082.5785 - val_loss: 1119.2275
Epoch 90/100
784/784 [==============================] - 1s 1ms/step - loss: 1082.4882 - val_loss: 1120.1425
Epoch 91/100
784/784 [==============================] - 1s 1ms/step - loss: 1082.6368 - val_loss: 1119.1914
Epoch 92/100
784/784 [==============================] - 1s 1ms/step - loss: 1082.5651 - val_loss: 1119.8834
Epoch 93/100
784/784 [==============================] - 1s 1ms/step - loss: 1082.6382 - val_loss: 1118.8601
Epoch 94/100
784/784 [==============================] - 2s 2ms/step - loss: 1082.6718 - val_loss: 1119.6475
Epoch 95/100
784/784 [==============================] - 1s 1ms/step - loss: 1082.7313 - val_loss: 1119.4834
Epoch 96/100
784/784 [==============================] - 1s 1ms/step - loss: 1082.5712 - val_loss: 1118.6431
Epoch 97/100
784/784 [==============================] - 1s 1ms/step - loss: 1082.6464 - val_loss: 1119.5879
Epoch 98/100
784/784 [==============================] - 1s 1ms/step - loss: 1082.6738 - val_loss: 1119.7711
Epoch 99/100
784/784 [==============================] - 2s 2ms/step - loss: 1082.7777 - val_loss: 1119.4268
Epoch 100/100
784/784 [==============================] - 1s 1ms/step - loss: 1082.7816 - val_loss: 1120.5352
Wall time: 2min 14s

In [ ]:
# Novamente vamos salvar os resultados da previsão em nossa base de teste

In [39]:
test_results['dnn_model'] = dnn_model.evaluate(test_x, test_y, verbose=1)

245/245 [==============================] - 0s 966us/step - loss: 1038.0492

In [ ]:
# Agora que já fiz todas as estimações, vamos comparar os resultados dos modelos

In [40]:
pd.DataFrame(test_results, index=['Mean absolute error [Valor_do_Aluguel]']).T

              Mean absolute error [Valor_do_Aluguel]
dnn_model                                1038.049194
linear_model                            11144.192383

In [ ]:
# É SEMPRE BOM LEMBRAR QUE MATRIZ DE CONFUSÃO E ACCURACY SCORE NÃO FAZEM SENTIDO PARA AVALIAR
# UM MODELO DE REGRESSÃO, APENAS DE CLASSIFICAÇÃO. EM QUALQUER MODELO DE REGRESSÃO, POR MELHOR
# QUE SEJA, A CHANCE DE ACERTAR EXATAMENTE O VALOR ATÉ NAS CASAS DECIMAIS É MÍNIMA
# PARA REDES NEURAIS QUE PREVEEM A VARIÁVEIS CONTÍNUAS, A MELHOR FORMA DE COMPARAR MODELOS É
# PELO ERRO ABSOLUTO MÉDIO, COMO FIZEMOS ACIMA.

In [ ]:
################SEGUNDA REDE NEURAL

In [ ]:
# vamos fazer uma nova rede neural apenas para padrão de comparação com as, vamos utilizar uma camada intermediária
# a mais e aumentar a densidade das camadas para ver se há redução no erro

In [42]:
def build_and_compile_model2(norm):
  model = keras.Sequential([
      norm,
      layers.Dense(13, activation='relu'),
      layers.Dense(64, activation='relu'),
      layers.Dense(64, activation='relu'),
      layers.Dense(1)
  ])

  model.compile(loss='mean_absolute_error',
                optimizer=tf.keras.optimizers.Adam(0.001))
  return model

In [43]:
dnn_model2 = build_and_compile_model2(normalizer)
dnn_model2.summary()

Model: "sequential_2"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
normalization_1 (Normalizati (None, 12)                25
_________________________________________________________________
dense_4 (Dense)              (None, 13)                169
_________________________________________________________________
dense_5 (Dense)              (None, 64)                896
_________________________________________________________________
dense_6 (Dense)              (None, 64)                4160
_________________________________________________________________
dense_7 (Dense)              (None, 1)                 65
=================================================================
Total params: 5,315
Trainable params: 5,290
Non-trainable params: 25
_________________________________________________________________

In [44]:
%%time
history = dnn_model2.fit(
    train_x, train_y,
    validation_split=0.2,
    verbose=1, epochs=100)

plot_loss(history)

Epoch 1/100
784/784 [==============================] - 2s 2ms/step - loss: 8479.6504 - val_loss: 1409.8337
Epoch 2/100
784/784 [==============================] - 1s 2ms/step - loss: 1226.9075 - val_loss: 1166.1021
Epoch 3/100
784/784 [==============================] - 2s 2ms/step - loss: 1115.2306 - val_loss: 1141.4734
Epoch 4/100
784/784 [==============================] - 1s 2ms/step - loss: 1100.7795 - val_loss: 1136.1649
Epoch 5/100
784/784 [==============================] - 1s 2ms/step - loss: 1095.1274 - val_loss: 1128.2318: 0s -
Epoch 6/100
784/784 [==============================] - 1s 2ms/step - loss: 1092.8417 - val_loss: 1142.8486
Epoch 7/100
784/784 [==============================] - 1s 2ms/step - loss: 1091.4550 - val_loss: 1126.5575
Epoch 8/100
784/784 [==============================] - 2s 2ms/step - loss: 1091.5212 - val_loss: 1128.6200
Epoch 9/100
784/784 [==============================] - 1s 2ms/step - loss: 1090.8546 - val_loss: 1130.6338
Epoch 10/100
784/784 [==============================] - 1s 1ms/step - loss: 1090.8594 - val_loss: 1127.9779
Epoch 11/100
784/784 [==============================] - 1s 2ms/step - loss: 1090.8212 - val_loss: 1130.2271
Epoch 12/100
784/784 [==============================] - 2s 3ms/step - loss: 1091.9714 - val_loss: 1125.9476
Epoch 13/100
784/784 [==============================] - 1s 2ms/step - loss: 1091.1080 - val_loss: 1130.6792
Epoch 14/100
784/784 [==============================] - 1s 2ms/step - loss: 1089.4055 - val_loss: 1132.3647
Epoch 15/100
784/784 [==============================] - 1s 2ms/step - loss: 1090.8351 - val_loss: 1129.0850
Epoch 16/100
784/784 [==============================] - 2s 2ms/step - loss: 1090.8337 - val_loss: 1128.2983
Epoch 17/100
784/784 [==============================] - 1s 2ms/step - loss: 1090.6918 - val_loss: 1129.9980
Epoch 18/100
784/784 [==============================] - 1s 2ms/step - loss: 1091.4164 - val_loss: 1126.7200
Epoch 19/100
784/784 [==============================] - 1s 2ms/step - loss: 1090.1998 - val_loss: 1127.6526
Epoch 20/100
784/784 [==============================] - 2s 2ms/step - loss: 1091.1096 - val_loss: 1125.5905
Epoch 21/100
784/784 [==============================] - 1s 2ms/step - loss: 1090.8094 - val_loss: 1124.1378
Epoch 22/100
784/784 [==============================] - 1s 2ms/step - loss: 1090.1348 - val_loss: 1128.3932
Epoch 23/100
784/784 [==============================] - 1s 2ms/step - loss: 1090.8944 - val_loss: 1124.6865
Epoch 24/100
784/784 [==============================] - 2s 2ms/step - loss: 1090.2389 - val_loss: 1126.1980
Epoch 25/100
784/784 [==============================] - 2s 2ms/step - loss: 1091.6118 - val_loss: 1125.0077
Epoch 26/100
784/784 [==============================] - 1s 2ms/step - loss: 1091.0739 - val_loss: 1128.1747
Epoch 27/100
784/784 [==============================] - 1s 2ms/step - loss: 1090.1063 - val_loss: 1134.4595
Epoch 28/100
784/784 [==============================] - 2s 2ms/step - loss: 1090.7168 - val_loss: 1126.7172
Epoch 29/100
784/784 [==============================] - 1s 2ms/step - loss: 1090.7169 - val_loss: 1125.9283
Epoch 30/100
784/784 [==============================] - 1s 2ms/step - loss: 1091.1171 - val_loss: 1130.0945
Epoch 31/100
784/784 [==============================] - 1s 2ms/step - loss: 1090.8051 - val_loss: 1130.7081
Epoch 32/100
784/784 [==============================] - 1s 2ms/step - loss: 1090.7144 - val_loss: 1127.9424
Epoch 33/100
784/784 [==============================] - 2s 2ms/step - loss: 1091.6229 - val_loss: 1127.5924
Epoch 34/100
784/784 [==============================] - 1s 2ms/step - loss: 1091.0455 - val_loss: 1131.1387
Epoch 35/100
784/784 [==============================] - 1s 2ms/step - loss: 1090.9446 - val_loss: 1122.3146
Epoch 36/100
784/784 [==============================] - 1s 2ms/step - loss: 1090.9757 - val_loss: 1123.3788
Epoch 37/100
784/784 [==============================] - 2s 2ms/step - loss: 1090.2814 - val_loss: 1123.7020
Epoch 38/100
784/784 [==============================] - 1s 2ms/step - loss: 1091.4852 - val_loss: 1127.0629
Epoch 39/100
784/784 [==============================] - 1s 2ms/step - loss: 1090.6868 - val_loss: 1129.6321
Epoch 40/100
784/784 [==============================] - 1s 2ms/step - loss: 1091.0646 - val_loss: 1129.6545
Epoch 41/100
784/784 [==============================] - 2s 2ms/step - loss: 1090.3533 - val_loss: 1128.1327
Epoch 42/100
784/784 [==============================] - 1s 2ms/step - loss: 1091.4003 - val_loss: 1128.2888
Epoch 43/100
784/784 [==============================] - 1s 2ms/step - loss: 1091.1417 - val_loss: 1131.8572
Epoch 44/100
784/784 [==============================] - 2s 2ms/step - loss: 1091.7095 - val_loss: 1133.2556
Epoch 45/100
784/784 [==============================] - 2s 3ms/step - loss: 1090.6038 - val_loss: 1125.5775
Epoch 46/100
784/784 [==============================] - 1s 2ms/step - loss: 1090.7146 - val_loss: 1124.8325
Epoch 47/100
784/784 [==============================] - 1s 2ms/step - loss: 1091.3064 - val_loss: 1137.4791
Epoch 48/100
784/784 [==============================] - 1s 2ms/step - loss: 1091.3761 - val_loss: 1131.2928088.70
Epoch 49/100
784/784 [==============================] - 2s 3ms/step - loss: 1090.8240 - val_loss: 1126.8279
Epoch 50/100
784/784 [==============================] - 2s 3ms/step - loss: 1090.1620 - val_loss: 1134.2057
Epoch 51/100
784/784 [==============================] - 2s 3ms/step - loss: 1090.7659 - val_loss: 1125.5819
Epoch 52/100
784/784 [==============================] - 2s 2ms/step - loss: 1090.6991 - val_loss: 1122.8802
Epoch 53/100
784/784 [==============================] - 1s 2ms/step - loss: 1090.5012 - val_loss: 1126.2029
Epoch 54/100
784/784 [==============================] - 1s 2ms/step - loss: 1090.2394 - val_loss: 1129.2549
Epoch 55/100
784/784 [==============================] - 1s 2ms/step - loss: 1090.7164 - val_loss: 1124.6621
Epoch 56/100
784/784 [==============================] - 2s 3ms/step - loss: 1090.5380 - val_loss: 1132.5464
Epoch 57/100
784/784 [==============================] - 1s 2ms/step - loss: 1090.2032 - val_loss: 1127.4023
Epoch 58/100
784/784 [==============================] - 1s 2ms/step - loss: 1090.7117 - val_loss: 1124.6794
Epoch 59/100
784/784 [==============================] - 2s 3ms/step - loss: 1091.3953 - val_loss: 1129.2666
Epoch 60/100
784/784 [==============================] - 1s 2ms/step - loss: 1091.5138 - val_loss: 1124.0868
Epoch 61/100
784/784 [==============================] - 2s 2ms/step - loss: 1089.9111 - val_loss: 1126.8042
Epoch 62/100
784/784 [==============================] - 2s 2ms/step - loss: 1091.2134 - val_loss: 1128.7538
Epoch 63/100
784/784 [==============================] - 2s 2ms/step - loss: 1090.6414 - val_loss: 1125.9089
Epoch 64/100
784/784 [==============================] - 1s 2ms/step - loss: 1090.6572 - val_loss: 1126.7354
Epoch 65/100
784/784 [==============================] - 1s 2ms/step - loss: 1091.0573 - val_loss: 1132.9688
Epoch 66/100
784/784 [==============================] - 1s 2ms/step - loss: 1091.1532 - val_loss: 1124.9534
Epoch 67/100
784/784 [==============================] - 2s 3ms/step - loss: 1090.0216 - val_loss: 1128.2273
Epoch 68/100
784/784 [==============================] - 1s 2ms/step - loss: 1090.2457 - val_loss: 1128.8323
Epoch 69/100
784/784 [==============================] - 2s 2ms/step - loss: 1090.4607 - val_loss: 1130.9578
Epoch 70/100
784/784 [==============================] - 2s 3ms/step - loss: 1090.4358 - val_loss: 1124.8546
Epoch 71/100
784/784 [==============================] - 1s 2ms/step - loss: 1091.2382 - val_loss: 1130.2812
Epoch 72/100
784/784 [==============================] - 1s 2ms/step - loss: 1090.2904 - val_loss: 1130.1569
Epoch 73/100
784/784 [==============================] - 1s 2ms/step - loss: 1089.8815 - val_loss: 1137.5087
Epoch 74/100
784/784 [==============================] - 2s 2ms/step - loss: 1090.7472 - val_loss: 1128.1639
Epoch 75/100
784/784 [==============================] - 1s 2ms/step - loss: 1090.8196 - val_loss: 1127.6456 ETA
Epoch 76/100
784/784 [==============================] - 1s 2ms/step - loss: 1090.8978 - val_loss: 1128.6169

Epoch 77/100
784/784 [==============================] - 1s 1ms/step - loss: 1091.0870 - val_loss: 1122.3281
Epoch 78/100
784/784 [==============================] - 1s 2ms/step - loss: 1089.5457 - val_loss: 1125.4059
Epoch 79/100
784/784 [==============================] - 1s 2ms/step - loss: 1090.5922 - val_loss: 1126.8346
Epoch 80/100
784/784 [==============================] - 1s 1ms/step - loss: 1089.3789 - val_loss: 1128.1339
Epoch 81/100
784/784 [==============================] - 1s 1ms/step - loss: 1091.4027 - val_loss: 1127.7628
Epoch 82/100
784/784 [==============================] - 1s 1ms/step - loss: 1090.8822 - val_loss: 1125.2195
Epoch 83/100
784/784 [==============================] - 2s 2ms/step - loss: 1090.6005 - val_loss: 1126.0576
Epoch 84/100
784/784 [==============================] - 1s 1ms/step - loss: 1090.8719 - val_loss: 1131.5970
Epoch 85/100
784/784 [==============================] - 1s 2ms/step - loss: 1090.3625 - val_loss: 1126.0006
Epoch 86/100
784/784 [==============================] - 1s 1ms/step - loss: 1091.0505 - val_loss: 1133.7826
Epoch 87/100
784/784 [==============================] - 1s 2ms/step - loss: 1091.4436 - val_loss: 1129.5756
Epoch 88/100
784/784 [==============================] - 1s 2ms/step - loss: 1089.8546 - val_loss: 1129.4911
Epoch 89/100
784/784 [==============================] - 1s 1ms/step - loss: 1090.2943 - val_loss: 1132.8362
Epoch 90/100
784/784 [==============================] - 1s 2ms/step - loss: 1090.0326 - val_loss: 1124.2634
Epoch 91/100
784/784 [==============================] - 1s 1ms/step - loss: 1090.5582 - val_loss: 1127.3092
Epoch 92/100
784/784 [==============================] - 2s 2ms/step - loss: 1090.1178 - val_loss: 1126.2599
Epoch 93/100
784/784 [==============================] - 1s 1ms/step - loss: 1089.5480 - val_loss: 1130.7988
Epoch 94/100
784/784 [==============================] - 1s 1ms/step - loss: 1090.0809 - val_loss: 1133.1891
Epoch 95/100
784/784 [==============================] - 1s 1ms/step - loss: 1090.9221 - val_loss: 1131.1541
Epoch 96/100
784/784 [==============================] - 1s 1ms/step - loss: 1090.6061 - val_loss: 1123.8640
Epoch 97/100
784/784 [==============================] - 2s 2ms/step - loss: 1090.5815 - val_loss: 1122.4750
Epoch 98/100
784/784 [==============================] - 1s 1ms/step - loss: 1090.5508 - val_loss: 1126.3850
Epoch 99/100
784/784 [==============================] - 1s 1ms/step - loss: 1091.3896 - val_loss: 1124.5194
Epoch 100/100
784/784 [==============================] - 1s 1ms/step - loss: 1090.7726 - val_loss: 1126.1270
Wall time: 2min 23s

In [45]:
test_results['dnn_model2'] = dnn_model2.evaluate(test_x, test_y, verbose=1)

245/245 [==============================] - 0s 1ms/step - loss: 1043.7115

In [46]:
pd.DataFrame(test_results, index=['Mean absolute error [Valor_do_Aluguel]']).T

              Mean absolute error [Valor_do_Aluguel]
dnn_model                                1038.049194
dnn_model2                               1043.711548
linear_model                            11144.192383

In [ ]:
# como o erro médio absoluto aumentou, possivelmente o aumento de uma camada e na densidade das mesmes deve ter provocado
# overfitting. Vamos ficar mesmo com a primeira rede neural, foi a que apresentou menor erro.

In [ ]:
################## SALVANDO O MELHOR MODELO

In [41]:
dnn_model.save('dnn_model')

INFO:tensorflow:Assets written to: dnn_model\assets

In [ ]:
# E se você recarregar o modelo salvo, veja que este te dará o mesmo resultado
# de previsão, provando que o modelo foi salvo corretamente.

In [ ]:
reloaded = tf.keras.models.load_model('dnn_model')

test_results['reloaded'] = reloaded.evaluate(
    test_x, test_y, verbose=0)

pd.DataFrame(test_results, index=['Mean absolute error [MPG]']).T